<meta charset="utf-8"><!--文档编码格式-->
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--让 IE 浏览器运行最新的渲染模式下-->
<meta name="renderer" content="webkit"><!--多内核浏览器默认采用webkit高速模式渲染页面-->
<meta name="viewport" content="width=device-width, initial-scale=1"><!--页面显示宽度,默认为设备宽度,默认缩放比例为1-->

<link href="https://cdn.staticfile.org/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css"
      asp-fallback-test-class="fa-pull-left"
      asp-fallback-test-property="float"
      asp-fallback-test-value="left"
      asp-fallback-href="https://lib.baomitu.com/font-awesome/5.15.3/css/all.min.css">

<link href="https://cdn.staticfile.org/material-design-icons/3.0.2/iconfont/material-icons.min.css" rel="stylesheet" type="text/css"
      asp-fallback-test-class="material-icons"
      asp-fallback-test-property="font-style"
      asp-fallback-test-value="normal"
      asp-fallback-href="https://lib.baomitu.com/material-design-icons/3.0.2/iconfont/material-icons.min.css">

<link href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css" rel="stylesheet" type="text/css"
      asp-fallback-test-class="animate__animated"
      asp-fallback-test-property="animation-duration"
      asp-fallback-test-value="1s"
      asp-fallback-href="~/lib/animate.css/animate.min.css">

<link href="https://gcore.jsdelivr.net/npm/quasar@1.19.1/dist/quasar.min.css" rel="stylesheet" type="text/css"
      asp-fallback-test-class="q-layout"
      asp-fallback-test-property="width"
      asp-fallback-test-value="100%"
      asp-fallback-href="~/lib/quasar/dist/quasar.min.css">

<title>@SiteContext.Config.SiteName</title>
<meta name="Description" content="@Html.Raw(SiteContext.Config.SiteMemo)" />
